*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Serif 4', serif, sans-serif;
}

/*inicio, navegador y footer*/
.main-header {
    display: flex;
    justify-content: space-between;
}

.encabezado{
    width: auto;
    height: 150px;
}

.logo {
    width: 300px;
    cursor: pointer;
}

.titulo {
    text-align: center;
    font-size: 30px;
}

.navegador {
    background-color: #1275a6f5;
    background-size: cover;
    padding: 10px;
    display: flex;
    justify-content: end;
}

.menu {
    list-style-type: none;
    display: flex;
    align-items: center;
}

.navegador ul li a{
    color: aliceblue;
    text-decoration: none;
    display: flex;
    /* padding: 40px;*/
}

.carrusel {
    width: 100%;
    height: 370px;
    object-fit: cover;
}

.agenda-cita{
    width: 230px;
    height: 100px;
    font-size: 20px;
    border-radius: 5px;
    border: none;
    background-color: #1275a6f5;
}

.agenda-cita a{
    color: aliceblue;
    text-align: center;
    text-decoration: none;
}

.inicio-atencion{
    width: 450PX;
    height: 450px;
    object-fit: cover;
    border: 2px solid #5c93d6;
    padding: 10px;
    border-radius: 5px;
    margin: 50px;
    text-align: center;
    font-size: 48px;
    right: 70px;
}

.pie-de-pag{
    background-color: #1275a6f5;
    color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
}/*fin del inicio, navegador y footer*/

.especialidades{
    display: flex;
    justify-content: space-around;
    margin-bottom: 60px;
}

.especialidades div{
    width: 270px;
    border: 2px solid #5c93d6;
    margin: 25px;
    padding: 10px;
    border-radius: 5px;
}

.img-quienes-somos{
    width: 450PX;
    height: 450px;
    object-fit: cover;
    border: 2px solid #5c93d6;
    padding: 10px;
    border-radius: 5px;
    margin: 100px;
}

.Qsomos{
    display: flex;
    justify-content: space-around;
}

.main h2{
    text-align: center;
    font-size: 48px;
}

.ortodoncia img{
    width: 100%;
    height: 200px;
    border-radius: 5px;
    object-fit: cover;
}

.ortodoncia h5{
    font-size: 24px;
    text-align: center;
}

.ortodoncia p{
    font-size: 18px;
    text-align:start;
}

.ortodoncia button{
    background-color: #1275a6f5;
    margin: 10px;
    padding: 8px 10px;
    border: none;
    border-radius: 5px;
}

.odontopediatria img{
    width: 100%;
    height: 200px;
    border-radius: 5px;
    object-fit: cover;
}

.odontopediatria h5{
    font-size: 24px;
    text-align: center;
}

.odontopediatria p{
    font-size: 18px;
    text-align:start;
}

.odontopediatria button{
    background-color: #1275a6f5;
    margin: 10px;
    padding: 8px 10px;
    border: none;
    border-radius: 5px;
}

.disfuncion-atm img{
    width: 100%;
    height: 200px;
    border-radius: 5px;
    object-fit: cover;
}

.disfuncion-atm h5{
    font-size: 24px;
    text-align: center;
}

.disfuncion-atm p{
    font-size: 18px;
    text-align:start;
}

.disfuncion-atm button{
    background-color: #1275a6f5;
    margin: 10px;
    padding: 8px 10px;
    border: none;
    border-radius: 5px;
}

.form-contacto{
    margin: 10px;
    padding: 20px;
    font-size: 18px;
}

.contacto h1{
    text-align: center;
}

.mapa{
    width: 500px;
    margin: 25px;
    padding: 10px;
    border-radius: 5px;
}

.contacto .boton-enviar{
    background-color: #1275a6f5;
    margin: 10px;
    padding: 8px 10px;
    border: none;
    border-radius: 5px;
}

.contacto .boton-reset{
    background-color: #1275a6f5;
    margin: 10px;
    padding: 8px 10px;
    border: none;
    border-radius: 5px;
}