.agendamiento{ /*Página de index*/
    display: flex;
    gap: 30px;
    justify-content: space-evenly;
    align-items: center;
    padding: 50px 0;
    @media(max-width:768px){
            flex-direction: column;
        }
    div{
        display: flex;
        flex-direction: column;
        align-items: center;
        button{
            width: 320px;
            padding: 20px 50px;
            border: none;
            border-radius: 5px;
            background-color: $color-principal;
            &:hover{
                background-color: $color-secundario;
                border: solid $color-principal;
            }
            a{
                font-size: 20px;
                font-weight: 700;
                color: $color-secundario;
                text-align: center;
                text-decoration: none; 
                &:hover{
                    color: $color-principal;
                }
            }
        }
    }
    img{
        width: 450PX;
        height: 450px;
        object-fit: cover;
        border: 2px soli$color-principal;
        padding: 10px;
        border-radius: 5px;
        @media(max-width:768px){
            order: -1;

        }
    }
}