.botones-form{ /*Botones del formulario de contacto*/
    display: flex;
    padding-top: 15px;
    justify-content: space-evenly;
    button{
        color: $color-secundario;
        background-color: $color-principal;
        padding: 8px;
        border: none;
        border-radius: 5px;
    }
}