.n-especialidades{ /*Estilo para encabezado de nuestras especialidades*/
    text-align: center;
    padding: 40px 50px 35px 50px;
    h2{
        color: $color-principal;
        margin-bottom: 15px;
    }
    P{
        font-size: 20px;
        line-height: 30px;    
    }
}



    