.inicio{
    margin: 0 auto;
    padding: 50px;
    h1{
        text-align: center;
        margin-bottom: 0px;
        color: $color-principal
    }
    h2{
        text-align: center;
        color: $color-principal;
    }
    p{
        text-align: center;
        font-size: 20px;
        line-height: 30px;
        margin-top: 15px;
    }
}