.quienes-somos{ /*Estilos para quienes somos*/
    text-align: center;
    h1{
        padding-top: 35px;
        margin: 0;
        color: $color-principal;
        }
    p{
        padding: 30px 50px 0px 50px;
        margin: 0;
        font-size: 20px;
    }
}

.nosotros{ /*Información de quienes somos*/
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
    gap: 60px;
    @media (max-width: 768px) {
          flex-direction: column;
        }
    p{
        font-size: 20px;
        text-align: justify;
        line-height: 30px;
        gap: 50px;
        @media (max-width: 768px) {   
            text-align: justify;
        }
    }
}
