@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Playfair Display', serif, sans-serif;
}

/*Estilos para el encabezado y el navegador*/
.encabezado{
    height: 100px;
    background-color: rgb(227, 236, 240);
}

.navegador{
    background-size: cover;
    display: flex;
    justify-content: end;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    a img{
        width: 300px;
    }
    i{
        display: none;
    }
    ul{
        list-style: none;
        display: flex;
        gap: 40px;
        li a{
            color: #1275a6f5;
            display: block;
            font-size: 20px;
            font-weight: 600;
            text-decoration: none;
            &:hover{
                color: white
            }
        }
    }
}

@media(max-width:768px){
    .logo{
        right: 15px;
    }
    .navegador .fa-bars{
        display: block;
        font-size: 45px;
        color: #5c93d6;
        order: -1;
    }
    .navegador .fa-bars:hover + ul{
        left: 0px;
    }
    .menu{
        position: fixed;
        width: 70vw;
        height: 100%;
        z-index: 3;
        background-color: aliceblue;
        flex-direction: column;
        align-items: center;
        padding-top: 50px;
        left: -80vw;
        top: 0px; 
        opacity: 90%;
        transition: 0.8s;
        &:hover{
            left: 0px;
        }
    }
    .menu:hover{
        left: 0px;
    }
    .agendamiento{
        flex-direction: column;
    }
    .inicio-atencion{
        order: -1;
    }
    .contacto{
        flex-direction: column;
    }
    .mapa{
        order: +2;
    }
}
/*Estilos para el carrusel y el index*/

.carousel-item img{
    width: 100%;
    height: 420px;
    object-fit: cover;
}

.inicio{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 0 auto;
    padding: 50px;
    h1{
        display: none;
    }
    h2{
        text-align: center;
    }
    p{
        text-align: center;
        font-size: 1.4rem;
        line-height: 30px;
    }
}

.agendamiento{
    display: flex;
    gap: 30px;
    justify-content: space-evenly;
    align-items: center;
    padding: 50px 0;
    div{
        display: flex;
        flex-direction: column;
        align-items: center;
        button{
            width: 320px;
            padding: 20px 50px;
            border: none;
            border-radius: 5px;
            background-color: #1275a6f5;
            &:hover{
                background-color: rgb(227, 236, 240);
                border: solid #1275a6f5;
            }
            a{
                font-size: 20px;
                font-weight: 700;
                color: aliceblue;
                text-align: center;
                text-decoration: none; 
                &:hover{
                    color: #1275a6f5;
                }
            }
        }
    }
    img{
        width: 450PX;
        height: 450px;
        object-fit: cover;
        border: 2px solid #5c93d6;
        padding: 10px;
        border-radius: 5px;
    }
}

/* Estilos para el pie de página */
.pie-de-pag {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: auto;
    gap: 20px;
    background-color: #1275a6f5;
    color: aliceblue;
    padding: 20px;
    @media (max-width: 768px){      
        grid-template-columns: 1fr;
        text-align: center;
    } 
}

/* Estilos para la información de la clínica y el contacto */
.pie-de-pag-izq{
    display: grid;
    grid-template-rows: auto;
    font-size: 20px;
    gap: 10px;   
}
  
.info-clinica{
    display: flex;
    align-items: center;
    gap: 15px;
    @media (max-width: 768px){
        justify-content: center;
        align-items: center;
    }
    img{
        width: 70px;
    }
    h3{
        margin: 0;
        font-size: 25px;
        text-align: center;
    }
    p{
        margin: 0;
    }
}
  
/* Estilos para las redes sociales */
.redes-sociales{
    display: flex;
    justify-content: end;
    align-items: end;
    @media (max-width: 768px){
        justify-content: center;
        align-items: center;
    }
    a{
        color: #fff;
        font-size: 35px;
        margin-right: 10px;
    }
}
  
/*Estilos para quienes somos*/

.quienes-somos{
    h1{
        display: none;
    }
    div{
        text-align: center;
        padding: 50px 50px 0px 50px;
        p{
            font-size: 20px;
        }
    }
}

.nosotros{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
    gap: 60px;
    @media (max-width: 768px) {
          flex-direction: column;
        }
    p{
        font-size: 1.4rem;
        text-align: center;
        font-size: 1.25rem;
        line-height: 30px;
        gap: 50px;
        @media (max-width: 768px) {   
            text-align: justify;
        }
    }
}

.nosotros .carousel-item{
    width: 600px;
    height: 400px; 
    @media (max-width: 768px) {
        width: auto;
    }
    @media (max-width: 576px) {
        width: 420px;
    }
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;  
    }
}

/*Estilos para nuestras especialidades*/
.n-especialidades{
    text-align: center;
    padding: 50px;
    P{
        font-size: 20px;
        line-height: 30px;    
    }
}

/*Estilos para las tarjetas de especialidades*/
.especialidades{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: space-around;
    padding: 1.8rem 1.8rem 3.5rem 1.8rem;
    div{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 21.87rem;
        border: 2px solid #5c93d6;
        padding: 10px;
        border-radius: 5px;
    }
    h3{
        text-align: center;
    }
    p{
        font-size: 1.25rem;
        text-align: left;
    }
    img{
        width: 100%;
        height: 200px;
        border-radius: 5px;
        object-fit: cover;
    }
}

/*Estilos página de Contacto*/

.contactanos{
    padding: 50px;
    h1{
        display: none;
    }
    h2{
        text-align: center;
    }
    p{
        font-size: 20px; 
    }
    section{
        display: flex;
        justify-content: space-evenly;
        width: auto;
        align-items: center;
        column-gap: 25px;
        padding: 20px 0px;
        iframe{
            width: 600px;
            height: 550px;
            margin: 25px;
            padding: 10px;
            border-radius: 5px;
            @media (max-width: 768px) {
                    width: 100%;
            }
        }
        p{
            font-size: 20px;
            line-height: 30px;   
        }
        form{
            height: 550px;
            display: flex;
            flex-direction: column;
            gap: 8px;
            border: 3px solid #5c93d6;
            border-radius: 5px;
            padding: 20px;
            font-size: 18px;
            @media (max-width: 768px) {               
                width: 100%;
            }
            div input{
                font-size: 15px;
                width: 100%;
                border: solid #5c93d6 2px;
            }
            textarea{
                margin: 8px;
                font-size: 15px;
                border: solid #5c93d6 1px;
            }
        }
    }
}

.botones-form{
    display: flex;
    padding-top: 15px;
    justify-content: space-evenly;
    button{
        color: aliceblue;
        background-color: #1275a6f5;
        padding: 8px;
        border: none;
        border-radius: 5px;
    }
}